<nav class="sections-sidebar"> 
    <ul>
        <li><a href="world">World </li></a>
            <li class="dropdown">San Francisco
                <ul>
                    <li>Students</li>
                    <li>Teaching Assistants</li>
                    <li>Instructors</li>
                    <li>Career Advisors</li>
                    <li>Cats</li>
                </ul>
            </li>
        <li><a href="ny">New York</li></a>
            <li class="dropdown">San Francisco        
            <ul>
                    <li>Students</li>
                    <li>Instructors</li>
                    <li>Cats</li>
                </ul>
                </li>
        <li><a href="jumpstart">Jumpstart</li></a>
            <li class="dropdown">Online            
            <ul>
                <li>Immersive</li>
                <li>Bootcamp Prep</li>
                <li>Cats</li>
            </ul>
            </li>
        <li><a href="marketing">Marketing</li></a>
            <li class="dropdown">Sales            
             <ul>
                <li>Associates</li>
                <li>Analytics</li>
                <li>Cats</li>
            </ul></li>
        <li><a href="talentmatch">TalentMatch</li></a>
            <li class="dropdown">Alumni            
             <ul>
                <li>Students</li>
                <li>Companies</li>
                <li>Opinions</li>
                <li>Cats</li>
            </ul>
            </li>
        <li><a href="all">All</li></a>
    </ul>
</nav>