<nav class="sections-nav"> 
    <ul>
        <li><a href="world">World </li></a>
        <li><a href="sf">San Francisco</li></a>
        <li><a href="ny">New York</li></a>
        <li><a href="bootcampprep">Bootcamp Prep</li></a>
        <li><a href="jumpstart">Jumpstart</li></a>
        <li><a href="online">Online</li></a>
        <li><a href="marketing">Marketing</li></a>
        <li><a href="sales">Sales</li></a>
        <li><a href="talentmatch">TalentMatch</li></a>
        <li><a href="alumnu">Alumni</li></a>
        <li><a href="all">All</li></a>
    </ul>
</nav>





