.main-nav {
  display: flex; 
  justify-content: space-between;
  padding: 10px 0%;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {

  display: flex;
  align-items: center;

}

.left-nav {

  > ul {
    > li {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 10px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 8px 8px; 
      margin-left: 20px;

    }
  }

  span {
    margin-left: 10px;


  }
}

.right-nav  {

  > ul {

    > li {
      margin-left: 3px;
  
    }

    > li:last-of-type {
      position: relative;
      padding: 7px 7px;
  
    }
  }
  
  i {
    font-size: 15px;

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

@media all and (max-width: 900px) { 

    .right-nav button {
      display: none;
    }

    .left-nav {
       ul li {
      margin: 0px;
      padding: 10px;
      }

    }

   


}


